<app-navbar 
  (emitToggle)="emitToggle($event)" 
  class="fixed-navbar">
</app-navbar>

<app-search 
  [totalData]="shows" 
  *ngIf="hide" 
  class="fixed-search">
</app-search>

<div class="content-container">
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
  </div>

  <!-- Other content here -->
</div>

<div *ngIf="!isLoading && errorMessage" class="error">{{ errorMessage }}</div>
<div *ngIf="!isLoading && itemDetails">
    <div class="details-container">
        <!-- Header Section -->
        <div class="header">
          <h1 class="title">{{ itemDetails.title }}</h1>
          <p class="type">{{ itemDetails.type }}</p>
        </div>
      
        <!-- Metadata Section -->
        <div class="metadata">
          <p><strong>Cast:</strong> {{ itemDetails.cast }}</p>
          <p><strong>Country:</strong> {{ itemDetails.country }}</p>
          <p><strong>Date Added:</strong> {{ itemDetails.date_added }}</p>
          <p><strong>Release Year:</strong> {{ itemDetails.release_year }}</p>
          <p><strong>Rating:</strong> {{ itemDetails.rating }}</p>
          <p><strong>Duration:</strong> {{ itemDetails.duration }}</p>
          <p><strong>Genres:</strong> {{ itemDetails.listed_in }}</p>
        </div>
      
        <!-- Description Section -->
        <div class="description">
          <h2>Description</h2>
          <p>{{ itemDetails.description }}</p>
        </div>
      </div>
      
</div>
